$primary-col-10: hsl(0, 0%, 100%);
$primary-col-20: hsl(0, 0%, 0%);
$primary-col-30: hsl(0, 0%, 55%);
$primary-col-40: hsl(0, 0%, 41%);

$font-base: 15px;
$font-family-10: "Josefin sans", sans-serif;
$font-family-20: "Alata", sans-serif;
