//COLORS
$col-10: hsl(0, 0%, 100%);
$col-20: hsl(0, 0%, 0%);
$col-30: hsl(0, 0%, 55%);
$col-40: hsl(0, 0%, 41%);

//FONTS
$font-base: 15px;
$font-fam: "Alata", "Josefin Sans", sans-serif;
$font-w-10: 400;
$font-w-20: 300;
